.sidebar
  background: #2f353a
  height: calc(100vh - 55px)
  width: 200px
  position: fixed
  margin-top: 55px

.sidebarItem
  padding: 0.75rem 1rem
  font-size: 80%
  font-weight: 700
  color: #e4e7ea
  text-transform: uppercase
  transition: background .3s ease-in-out
  cursor: pointer

.sidebarItem:hover
  background: #20a8d8
  text-transform: none


