.app_wrapper {
    padding: 0;
    margin: 0 auto;
    font-feature-settings: 'kern', 'liga', 'pnum';
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 1280px;

    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

.app_wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
