.app_wrapper {
    padding: 0;
    margin: 0 auto;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    width: 1280px;

    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

.app_wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.app_wrapper:before {
    content:"";
    background-color: #F1EFEA;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -1000px;
    z-index: -1;
}
